
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
html{
  Scroll-behavior:smooth; 
}
*{
    font-family: 'Oswald', sans-serif;
}

body{
  background-color: black;
   
}
.main{
    height: 100vh; 
}

.menubar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
 .menuitem{
    
    font-size: medium;
    text-decoration: none;
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius:30px;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: medium;
    
  }
  .menuitem:hover {
    background: #6c41e2;
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight: bold;
    padding: 16px 18px;

  }
  
  .left{
    height: 100%;
    padding-left: 50px;
    position: absolute;
    z-index: -1;
    top: 0;
    overflow: hidden;
    left: 0;
    width: 60%;
    
  }
  .right{
    height: 100%;
    position: absolute;
    z-index: -2;
    top: 0;
    overflow: hidden;
    right: 0;
    width: 40%;
    background-color: rgb(0, 0, 0);
  }

 .main h2{
     margin-top: 200px;
    
     margin-bottom: 0px;
     color: rgb(180, 180, 180);
 }
 .main h1{
    margin-top: 0px;
   
    color: rgb(255, 255, 255);
    font-size: 60px;
}
.con {
    font-size: medium;
    text-decoration: none;
   
    color: #000000;
    background-color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius:30px;
    font-size: large;
    
  }
  .con:hover {
    background:#6c41e2;
    color: rgb(255, 255, 255);
    font-size: larger;

  }

 .about {
    height: 100vh;
    margin-left:none;
   
    background-color: black;
  }
  .skill {
    padding-top: 0px;
    height: 100vh;
    margin-left:none;
    background-color: rgb(0, 0, 0);
  }
  .contact {
    height: 100vh;
    margin-left:none;
    background-color: rgb(0, 0, 0);
  }
  .abt{
    width: 40%;
    margin-left: 50px;
    display: flex;
    font-size:x-large;
    color: white;


  }
  p {
    width: 40%;
    margin-left: 50px;
    
    font-size:x-large;
    color: white;


  }
  .about h2{
    font-size: xx-large;
    padding-top: 100px;
    margin-top: 200px;
    margin-left: 50px;
    margin-bottom: 0px;
    color: rgb(180, 180, 180);
  }
  .container {
    width: 50%;
    background-color: #ddd;
    margin-left: 50px;
    border-radius: 20px;
  }
  
  .skills {
    text-align: center;
    
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    color: white;
  }
  
  .html {width: 90%; background:#6c41e2; border-radius: 20px; }
  .css {width: 80%; background:#6c41e2; border-radius: 20px; }
  .js {width: 65%; background:#6c41e2; border-radius: 20px; }
  .php {width: 60%; background:#6c41e2; border-radius: 20px; }
  .XD {width: 65%; background:#6c41e2; border-radius: 20px;}
  
  .skill h2{
    font-size: xx-large;
    padding-top: 50px;
   
    margin-left: 50px;
    margin-bottom: 0px;
    color: rgb(180, 180, 180);
  }
  .top{

    margin-left: 0;
    width: 100%;
    height: 50vh;
    background-color: rgb(0, 0, 0);
  
  }
  .bottom{
    width: 100%;
    height: 50vh;
    background-color: aliceblue;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    
  }
  ul {
    list-style-type: none;
    margin-top: 100px;
    padding: 0;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    
  }
  
  li {
    float: left;
    padding: 0px;
    margin: 0px;
  }
img{
 margin: 10px;
 width: 50px;
 height:50px;
}
.social:hover{
  margin: 10px;
}

.lg{
  margin-top: 200px;
  width: 400px;
  height:400px;
}

@media only screen and (max-width:381px){
  .main h1{
    font-size: 40px;
  }
  .left{
    width: 50%;  
  }
  .right{
    width: 50%;  
  }
  .abt{
    width: 100%;
    font-size:small;
    margin: 0;
    padding: 0;
  }
  .about h2{
    font-size: large; 
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
  .lg{
    
    width: 200px;
    height:200px;
  }
}
@media only screen and (max-width:600px){
  .main h1{
    font-size: 40px;
  }
  .left{
    width: 50%;  
  }
  .right{
    width: 50%;  
  }
  .abt{
    width: 100%;
    font-size:small;
    margin: 0;
    padding: 0;
  }
  .about h2{
    font-size: large; 
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
  .lg{
    
    width: 200px;
    height:200px;
  }
}